<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="エンジニア,大学生,プログラミング,ruby,arduino, 迫 佑樹, yukisako, 迫佑樹">
    <meta name="description" content="読み取るまでどんなメッセージかわからない!!QRコード付きの年賀状作成のためのツール">
    <title>年賀状QRジェネレータ</title>
    <link rel="shortcut icon" href="app/assets/images/profile.jpg">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/application.css" type="text/css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71080110-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>
    <header>
      <div id="logo">
        <a href="http://yukisako.github.io">
        <img src="assets/profile.jpg" alt="" width="120px" height="120px" /></img>
        </a>
        <h2>年賀状向けQRコードジェネレータ</h2>
        <!-- <h1>迫 佑樹 / Yuki SAKO</h1> -->
      </div>
    </header>
    <div class="container">
      <section>
        <nav>
        <h3>読み取るまでどんなメッセージかわからない!!
        </h3>
        <h4>QRコード付きの年賀状作成のためのツール</h4>
        <!--
          <ul>
            <li><a href="https://github.com/yukisako" target="_blank">Github</a></li>
            <li><a href="https://www.facebook.com/yuki.sako" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/yuki_99_s" target="_blank">Twitter</a></li>
            <li><a href="http://mcg.hateblo.jp/" target="_blank">Blog</a></li>
          </ul>
          -->
        </nav>
      </section>
      </div>
    <div class="container">
      <%= yield %>
    </div>


    <footer>
      <hr />
      <p>&copy; 2015 Yuki Sako.</p>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>